<!DOCTYPE html>
<html>
<head>
    <title>Macho4Life.store</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
</head>
<body>

    <div class="hero">
        <h1 id="logo">MACHO4LIFE.STORE</h1>
    </div>

    <nav>
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/otherminiwebsites">Other Mini Websites</a>
    </nav>

    <div class="container">
        <div class="card">
            <h1>Hi! This is the NEW macho website</h1>
            <h3>HAVE FUN!!</h3>
            <p>also btw this is going to get used like in 6 months idk</p>
        </div>
    </div>

    <script src="/static/js/index.js"></script>

</body>
</html>
