<!DOCTYPE html>
<html>
<head>
    <title>Macho4Life.store</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
</head>
<body>

    <div class="hero">
        <h1 id="logo">MACHO4LIFE.STORE</h1>
    </div>

    <nav>
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/otherminiwebsites">Other Mini Websites</a>
    </nav>

    <div class="container">
        <div class="card">
            <h1>Other Mini Websites</h1>
            <p>These are all of the other mini websites (vercel) that are in the MCU (macho cinematic universe).</p>
            <button class="button" onclick="gotoStockMarket()">Macho Stock Market</button>
            <button class="button" onclick="gotoShop()">Macho Shop</button>
            <button class="button" onclick="gotoBank()">Macho Bank</button>
            <button class="button" onclick="gotoStarTesting()">Macho Star Testing</button>
            <button class="button" onclick="gotoRankings()">Macho Rankings (broken)</button>
            <button class="button" onclick="gotoEBay()">Macho eBay</button>
            <button class="button" onclick="gotoOldWebsite()">Old Website (probably doesnt work but whatever)</button>
        </div>
    </div>

    <script src="/static/js/otherminiwebsites.js"></script>

</body>
</html>
